body {
  margin-top: 40px;
  background: #333;
  color: #fff;
}

.weather {
  color: #333;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

img {
    width: 40%;
    align-self: center;
}

.card-block {
  padding: 10px;
}

.weather-desc {
  text-transform: capitalize;
}

.weather-img {
  width: 40px;
}

#map {
  height: 250px;
  width: 100%;
}
